.allProducts {
  width: 100%;
  margin: auto;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allProducts h1 {
  color: #1c1c1c;
  margin-bottom: 8px;
  letter-spacing: 3px;
  font-size: 34px;
}

.allProducts hr {
  width: 28%;
  border: none;
  height: 0.9px;
  border-radius: 50%;
  background: #bc2e2f;
}

.allProducts-item {
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
  gap: 60px;
  justify-items: center;
  margin: 50px 80px 0px 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
