.item{
    display: flex;;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    }

.item a{
    width: 100%;
    text-decoration: none; 
    display: flex;
    justify-content: center;
}

.item img{
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 40px -22px #bc2e2f;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 18px;

}

.item img:hover{
    transform: scale(1.05);
    transition: 0.6s ease;
}

.item p {
  margin-bottom: 6px;
  color: #bc2e2f;
  font-size: 20px;
  font-weight: 600;
  min-height: 50px;   
  display: flex;
  align-items: flex-center;
}


.item-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.item-price-new{
   color: #1c1c1c;
   font-size: 20px;
   font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

