.productdisplay {
  display: flex;
  gap: 0px;
  margin: 50px 100px;
}

.productdisplay-left {
  display: flex;
  gap: 20px;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0px;
}

.productdisplay-img-list img:hover{
    transform: scale(2.05);
    transition: 0.6s ease;
}


.productdisplay-img-list img {
  width: 120px;
  cursor: pointer;
  border-radius: 12px;
}

.productdisplay-main-img {
  width: auto;
  height: 620px;
  cursor: pointer;
  border-radius: 12px;

}
.productdisplay-main-img:hover{
    transform: scale(1.15);
    transition: 0.6s ease;
}


.productdisplay-right {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px 50px;
}
.productdisplay-right  h1{
    color: #bc2e2f;
    font-size: 40px;
    font-weight: 600;
}

.productdisplay-right-star{
display: flex;
align-items: center;
margin-top: 10px;
gap: 5px;
color: #1c1c1c;
font-size: 16px;
}

.productdisplay-right-prices {
  display: flex;
  margin: 50px 0px;
  gap: 15px;
  font-size: 24px;
  font-weight: 600;
}

.productdisplay-right-price-old {
  text-decoration: line-through;
  color: #8c8c8c;
  opacity: 0.6;
}

.productdisplay-right-price-new {
color: #bc2e2f;
}

.productdisplay-right-description h1{
    margin-top: 25px;
    color: #656565;
    font-weight: 600;
    font-size: 40px;
}
.productdisplay-right-description {
    display: flex;
    margin: 80px 0px;
    gap: 20px;
}


.productdisplay-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  border: none;
  cursor: pointer;
  outline: none;
}

.productdisplay-right-category  {
  margin-top: 10px;
}

.productdisplay-right-category span {
  font-weight: 600;
}
