


.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.dividing-bar{
  margin: auto;
  width: 55%;
  border: none;
  height: 2px;
  border-radius: 50%;
  background: #bc2e2f;
  margin-bottom: 40px;
}

.relatedproducts h1 {
  font-size: 34px;
  margin-bottom: 8px;
  letter-spacing: 3px;
  text-transform: upperase;

}

.hr-Related {
    width: 30%;
    border: none;
    height: 0.9px;
    border-radius: 50%;
    background: #bc2e2f;
}


.relatedproducts-item {
    margin: 50px 80px 0px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
