.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.relatedproducts h1 {
    color: #171717;
    font-size: 36px;
    font-weight: 700;
    margin-top: 25px;
}

.relatedproducts hr {
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 منتجات في كل صف */
    gap: 30px;
}
