

.descriptionbox {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
}

.description-navigator {
    display: flex;
    gap: 40px;
    font-size: 22px;
    margin: 20px 0px;
}

.description-navigator div {
    padding-bottom: 3px;
    transition: 0.3s;
}

.active-tab {
    font-weight: bold;
    border-bottom: 3px solid #bc2e2f;
    border-radius: 6%;
}

.description-navigator div:hover {
    color: #bc2e2f;
    cursor: pointer;
}


.descriptionbox-description {
    line-height: 1.6;
    font-size: 18px;
    color: #2c2c2c;
}

.description-markdown {
  white-space: pre-wrap;
  line-height: 1.6;
}

