/* .descriptionbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.description-navigator {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}

.description-nav-box,
.descriptionbox-nav-box {
  padding: 14px 22px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.description-nav-box {
  border-bottom: 3px solid #ff4141;
}

.descriptionbox-description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.descriptionbox-description p {
  margin-bottom: 12px;
} */
.descriptionbox {
    width: 80%;
    margin: auto;
    font-family: Arial;
}

.description-navigator {
    display: flex;
    gap: 40px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
}

.description-navigator div {
    padding-bottom: 5px;
    transition: 0.3s;
}

/* شكل التبويب عندما يكون مختار */
.active-tab {
    font-weight: bold;
    border-bottom: 3px solid #d82525;
}

/* شكل التبويب عند المرور بالمؤشر */
.description-navigator div:hover {
    color: #555;
}

/* صندوق الوصف */
.descriptionbox-description {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

.description-markdown {
  white-space: pre-wrap;
  line-height: 1.6;
}

