.descriptionbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.description-navigator {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}

.description-nav-box,
.descriptionbox-nav-box {
  padding: 14px 22px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.description-nav-box {
  border-bottom: 3px solid #ff4141;
}

.descriptionbox-description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.descriptionbox-description p {
  margin-bottom: 12px;
}
