/* General page container */
.policy-container {
  /* max-width: 800px; */
  /* margin: 60px auto; */

  padding: 74px 25px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.7;
  color: #333;
  text-align: center;
  text-wrap: balance;
   background-image: url("../../Components/Assets/Project Pic/Background/main-background-for-H-H-handmade-harmony-2.png");
}

/* Headings */
.policy-container h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  color: #b73c3c;
}

.policy-container h2 {
  font-size: 1.6rem;
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #444;
}

.policy-container h3 {
  font-size: 1.3rem;
  margin-top: 20px;
  color: #555;
}

/* Paragraphs */
.policy-container p {
  margin-bottom: 15px;
  font-size: 1.05rem;
}

/* Lists */
.policy-container ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.policy-container ul li {
  margin-bottom: 8px;
}

/* Links */
.policy-container a {
  color: #b73c3c;
  text-decoration: none;
}

.policy-container a:hover {
  text-decoration: underline;
}


.policy-container h1,
.policy-container h2,
.policy-container h3,
.policy-container p {
  text-align: center;
  /* text-wrap: balance; */
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  line-height: 1.8;
}


/* Responsive */
/* @media (max-width: 600px) {
  .policy-container {
    padding: 30px 15px;
  }

  .policy-container h1 {
    font-size: 2rem;
  }
} */
