


.policy-container {
  padding: 50px 25px 25px 25px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.6;
  color: #1c1c1c;
  background-image: url("../../Components/Assets/Project Pic/Background/main-background-for-H-H-handmade-harmony-2.png");
  background-size: contain;
}

.policy-hr {
    width: 28%;
    margin: 0 auto;
    border: none;
    height: 0.9px;
    border-radius: 50%;
    background: #bc2e2f;
    margin-bottom: 50px;
}

.policy-container hr{
  width: 80px;
  border: none;
  height: 2px;
  background: #bc2e2f;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.policy-container h1 {
  font-size: 40px;
  margin-bottom: 4px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #bc2e2f;
}

.policy-container h2 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #bc2e2f;
}

.policy-container h3 {
  font-size: 22px;
  margin-top: 20px;
  color: #1c1c1c;
}

.policy-container p {
  margin-bottom: 20px;
  font-size: 18px;
}

.policy-container ul {
  margin-bottom: 30px;
  list-style-position: inside;
  line-height: 1.2;
   
}

.policy-container ul li {
  margin-bottom: 8px;
 
}


.policy-container h1,
.policy-container h2,
.policy-container h3,
.policy-container p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  line-height: 1.8;
}


.policy-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.policy-copyright hr {
    width: 70%;
    border: none;
    height: 0.5px;
    background: #bc2e2f;
    margin: 0;
    padding: 0;

}

.policy-copyright p {
    font-size: 14px;
    color: #1c1c1c;
    padding: 0;
    margin: 0;
}
