.product-page {
  background-image: url("../../Components/Assets/Project Pic/Background/main-background-for-H-H-handmade-harmony-2.png");
  background-size: contain;
  background-position: 0px 500px;
}
