.navbar{
    display:flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0  1px 3px -2px #bc2e2f;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 150px; 
    height: auto;
}


.nav-logo p{
    color:#bc2e2f;
    font-size: 38px;
    font-weight: 600 ;
}


.nav-menu{
    display: flex; 
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #bc2e2f;
    font-size: 20px ;
    font-weight: 400 ;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #bc2e2f ;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px ;
}
 .nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none ;
    border: 1px solid #bc2e2f ;
    border-radius: 75px;
    color: cornflowerblue;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;

 }

 .nav-login-cart button:active{
    
    background: #F3F;
 }

 .nav-cart-coun{

    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    margin-left: -100px ;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
 }