
.header{
    width: 100%;
}



.header-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.25);
    height: 24vh;
}

.free{
    margin-left: 8px;
    width: 152px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: auto; 
    height: 220px;
}

/* .logo p{
    color:#bc2e2f;
    font-size: 38px;
    font-weight: 600 ;
} */

.header-login button{
    width: 152px;
    height: 40px;
    outline: none ;
    border: 1px solid #bc2e2f ;
    border-radius: 8px;  
    color: #bc2e2f ;
    font-size: 18px;
    font-weight: 600 ;
    background-color: rgba(242, 242, 242, 0.4);
    cursor: pointer;
    margin-right: 26px ;
    transition: 0.3s;
}

.header-login button:hover {
    background: #bc2e2f;
    color: #f2f2f2;
}

 .header-login button:active{
    background: #1c1c1c;
    color: #f2f2f2;
 }

 

 
.navbar{
    position: relative;
    display:flex;
    align-items: center;
    padding: 10px 54px;
    box-shadow: 0px 0px 40px -16px #bc2e2f;
    background-color: rgba(242, 242, 242, 0.5);
    height: 30px;
}

.nav-search{
    width: 50px;
    font-size: 26px;
    margin-left: auto;  
}

.nav-menu{
    position: absolute;              
    left: 50%;                      
    transform: translateX(-50%);    
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    color: #1c1c1c;
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-menu li:hover {
    color: #bc2e2f;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;  
}

.nav-menu hr{
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 1.1px;
    background-color: #bc2e2f ;
}

.nav-cart{
    margin-left: auto;             
    position: relative;             
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.nav-cart img {
    width: auto; 
    height: 60px;
}


.nav-cart-count{
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: -40px;
    margin-left: 66px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    background: #bc2e2f;
    color: #f2f2f2;
}