.footer {
    width: 100%;
    padding-bottom: 24px;
    background-color: rgba(242, 242, 242, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: auto; 
    height: 148px;
}


.footer-links {
    display: flex;
    list-style: none;
    gap: 60px;
    font-size: 24px;
}

.footer-links li {
    cursor: pointer;
    transition: 0.3s;
}

.footer-links li:hover {
    color: #bc2e2f;
}

.footer-socialmedia {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    margin-top: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(242, 242, 242, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px -4px #bc2e2f;
    cursor: pointer;
    transition: 0.3s;
}

.footer-icons-container:hover {
    transform: translateY(-5px);
}

.footer-icons-container img {
    width: 24px;
}

.footer-app{
display: flex;
flex-direction: row;
gap: 20px;
}

.footer-app img{
    width: 180px;
    height: auto;  
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.footer-app img:hover {
    transform: scale(1.1);
}


.footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.footer-copyright hr {
    width: 70%;
    border: none;
    height: 0.5px;
    background: #bc2e2f;

}

.footer-copyright p {
    font-size: 14px;
    color: #1c1c1c;
}
