

.hero {
    height: 110vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 99px;
}

.hero-intro {
    font-size: 26px;
    font-weight: 500;
    color: #1c1c1c;
    margin-bottom: 20px;
    max-width: 500px;
    margin-top: -300px;
}   

.H-H {
    font-size: 44px;
    color: #bc2e2f;
    margin-left: 206px;
}

.Handmade-Harmony {
    font-size: 44px;
    color: #bc2e2f;
    margin-bottom: 20px;
    margin-left: 40px;
}   

.hero-description{
    font-size: 26px;
    color: #1c1c1c;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-latest-btn img{
    margin-left: 12px;
    width: 28px;
}


.hero-latest-btn button{
    width: 300px;
    height: 60px;
    outline: none ;
    border: 1px solid #bc2e2f ;
    border-radius: 14px;  
    font-size: 24px;
    font-family: serif;
    background-color: #bc2e2f;
    cursor: pointer;
    color: #f2f2f2;
    margin-left: 44px;
    margin-top: 28px;    
   transition: 0.3s;
}

.hero-latest-btn button:hover {
     background: #f2f2f2;
    color: #bc2e2f;
}


 .hero-latest-btn :active{
    background: #1c1c1c;
    color: #bc2e2f;
 }