

.hero {
    height: 110vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 98px;
}

.hero-intro {
    font-size: 26px;
    font-weight: 500;
    color: #1c1c1c;
    margin-bottom: 20px;
    max-width: 500px;
    margin-top: -300px;
}   

.H-H {
    font-size: 40px;
    color: #bc2e2f;
    margin-left: 208px;
}

.Handmade-Harmony {
    font-size: 44px;
    color: #bc2e2f;
    margin-bottom: 20px;
    margin-left: 26px;
}   

.hero-description{
    font-size: 26px;
    color: #1c1c1c;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-latest-btn {
    margin-top: 30px;
    margin-left: 4px;

}


.hero-latest-btn img{
    margin-right: 80px;
    width: 28px;
    height: auto;
}


.hero-latest-btn a{
    padding: 12px;
    outline: none ;
    border: 1px solid #bc2e2f ;
    border-radius: 14px;  
    font-size: 24px;
    font-family: serif;
    background-color: #bc2e2f;
    cursor: pointer;
    color: #f2f2f2;
    transition: 0.3s;
}

.hero-latest-btn  a{
    text-decoration: none;
    color: #f2f2f2;  
}

.hero-latest-btn a:hover {
     background: #f2f2f2;
    color: #bc2e2f;
}

 .hero-latest-btn a:active{
    background: #1c1c1c;
    color: #f2f2f2;
 }
