.newsletter {
    width:80%;
    height: 160px;
    margin: 80px auto;
    margin-top: 80px;
    padding: 30px 30px;
    background-color: rgba(242, 242, 242, 0.35);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    box-shadow: 0px 0px 40px -16px #bc2e2f;
    text-align: center;
}

.newsletter h1 {
    font-size: 34px;
    font-weight: 600;
    color: #1c1c1c;
}

.newsletter p {
    font-size: 20px;
    color: #1c1c1c;
}

.newsletter div {
    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 500px;
}

.newsletter input {
    flex: 1;
    padding: 14px 18px;
    font-size: 18px;
    border: 1px solid #bc2e2f;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.newsletter input:focus {
    border-color: black;
}

.newsletter button {
    padding: 8px 20px;
    background: #bc2e2f;
    color: #f2f2f2;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.newsletter button:hover {
    background: #bc2e2f;
    color: #f2f2f2;
    transform: scale(1.05);
}

 .newsletter button:active{
    background: #1c1c1c;
    color: #f2f2f2;
 }


@media (max-width: 600px) {
    .newsletter div {
        flex-direction: column;
    }

    .newsletter button {
        width: 100%;
    }
}


/* ===========================
    TABLETS
   =========================== */

@media screen and (max-width: 900px){

    .newsletter {
        width: 90%;
        height: auto;
        padding: 25px;
    }

    .newsletter h1 {
        font-size: 28px;
    }

    .newsletter p {
        font-size: 18px;
    }

    .newsletter div {
        max-width: 400px;
    }
}


/* ===========================
    MOBILES
   =========================== */

@media screen and (max-width: 600px){

    .newsletter {
        width: 95%;
        padding: 20px;
        gap: 18px;
    }

    .newsletter h1 {
        font-size: 22px;
    }

    .newsletter p {
        font-size: 16px;
    }

    .newsletter div {
        flex-direction: column;
        gap: 10px;
    }

    .newsletter input {
        font-size: 16px;
    }

    .newsletter button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }
}


/* ===========================
    SMALL PHONES
   =========================== */

@media screen and (max-width: 400px){

    .newsletter h1 {
        font-size: 18px;
    }

    .newsletter p {
        font-size: 14px;
    }

    .newsletter button {
        font-size: 14px;
    }
}
