.newsletter {
    width:75%;
    height: 20vh;
    /* max-width: 800px; */
    margin: 80px auto;
    padding: 40px 30px;
    background: linear-gradient(180deg, #ffe0f7, #e1ffea33);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.newsletter h1 {
    font-size: 32px;
    font-weight: 600;
    color: #171717;
}

.newsletter p {
    font-size: 16px;
    color: #444;
}

.newsletter div {
    display: flex;

    gap: 12px;
    width: 100%;
    max-width: 500px;
}

.newsletter input {
    flex: 1;
    padding: 14px 18px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
}

.newsletter input:focus {
    border-color: #ff4141;
    box-shadow: 0 0 5px rgba(255, 65, 65, 0.4);
}

.newsletter button {
    padding: 14px 20px;
    background: #ff4141;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.newsletter button:hover {
    background: #e23030;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .newsletter div {
        flex-direction: column;
    }

    .newsletter button {
        width: 100%;
    }
}
